FIREBASE_HOST=your-project-id-default-rtdb.firebaseio.com
FIREBASE_SECRET=your_firebase_database_secret
FIREBASE_VITALS_PATH=patient/vitals

POLL_INTERVAL_SEC=4
ENABLE_POLLER=true

FALL_KERAS_MODEL_PATH=models/fall_detection_model.keras
LABEL_ENCODER_PATH=models/label_encoder.pkl
SCALER_PATH=models/scaler.pkl
FALL_MODEL_TIMESTEPS=200
FALL_CONFIDENCE_THRESHOLD=0.90
FALL_ACTIVITY_LABELS=fall,lfall,rfall
